<div class="animated fadeIn">
    <div class="card">
        <div #alerta1 class="card-header">
            <div class="float-left card-title">Clientes</div>
            <div class="float-right">   
                <button type="button" class="btn btn-success float-left" data-toggle="modal" (click)="Novo()"><span class="fa fa-plus"></span> Novo</button>
            </div>
        </div>
        <div class="card-block">
            <alert-message *ngIf="alert1.isVisible" [message]="alert1.message" [isAlert]="alert1.isAlert" 
                           (cancel)="alert1.cancel()" (confirm)="alert1.funcao()" ></alert-message>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="textSearch" placeholder="Pesquisar...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" >
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th (click)="setOrdination('name')" width="40%">Nome<div class="fa fa-fw fa-sort"></div></th>
                        <th (click)="setOrdination('cpf')">CPF<div class="fa fa-fw fa-sort"></div></th>
                        <th (click)="setOrdination('phone1')">Telefone residencial<div class="fa fa-fw fa-sort"></div></th>
                        <th (click)="setOrdination('phone2')">Telefone celular<div class="fa fa-fw fa-sort"></div></th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of (AllClients | clientFilter:textSearch) | sortBy:ordination, crecente" >
                        <th>{{client.name}}</th>
                        <td>{{client.cpf}}</td>
                        <td>{{client.phone1}}</td>
                        <td>{{client.phone2}}</td>
                        <td>
                            <button title="Visualizar" (click)="visualizar(client)" type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" ><span class="fa fa-info"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button id="show" style="display: none" type="button" data-toggle="modal" (click)="largeModal.show()"> </button>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form #clientForm="ngForm" (submit)="salvar(CurrentClient)">
                <div class="card no-margin">
                    <div class="card-header">
                        <div class="float-left card-title">Cliente</div>
                        <div class="float-right">
                            <button (click)="largeModal.hide()" class="btn btn-secondary float-left" id="close" type="button"><span class="fa fa-reply"></span> Voltar</button>
                            <button type="submit" class="btn btn-success" [disabled]="!clientForm.form.valid"><span class="fa fa-check"></span> Salvar</button>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="container">
                            <div class="row">
                                <div class="col-1 align-right">
                                    <span class="red">*</span><span class="bold">Nome</span>
                                </div>
                                <div class="col-11">
                                    <input class="inputs" type="text" name="name" maxlength="50" [(ngModel)]="CurrentClient.name" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1 align-right">
                                    <span class="red">*</span><span class="bold">CPF</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" placeholder="000.000.000-00" [textMask]="{mask: maskCpf}" name="cpf" [(ngModel)]="CurrentClient.cpf" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1 align-right">
                                    <span class="red">*</span><span class="bold">Telefone</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" placeholder="(47) 3333-3333" [textMask]="{mask: maskTelefone}" name="telefone" [(ngModel)]="CurrentClient.phone1" required/>
                                </div>
                                <div class="col-1 align-right">
                                    <span class="red">*</span><span class="bold">Celular</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" placeholder="(47) 99999-9999" [textMask]="{mask: maskCelular}" name="celular" [(ngModel)]="CurrentClient.phone2" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1 align-right">
                                    <span class="red">*</span><span class="bold">Rua</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" name="rua" maxlength="75" [(ngModel)]="CurrentClient.address.place" required/>
                                </div>
                                <div class="col-1 align-right">
                                    <span class="red">*</span><span class="bold">Número</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="number" min="0" name="numero" max="99999" [(ngModel)]="CurrentClient.address.number" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1 align-right">
                                    <span class="red">*</span><span class="bold">Bairro</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" name="bairro" maxlength="75" [(ngModel)]="CurrentClient.address.neighborhood" required/>
                                </div>
                                <div class="col-1 align-right">
                                    <span class="red">*</span><span class="bold">Cidade</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" name="cidade" maxlength="75" [(ngModel)]="CurrentClient.address.city" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1 align-right">
                                    <span class="red">*</span><span class="bold">CEP</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" placeholder="00000-000" [textMask]="{mask: maskCep}" name="cep" [(ngModel)]="CurrentClient.address.zipCode" required/>
                                </div>
                                <div class="col-1 align-right">
                                    <span class="bold">Compl.</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" name="complemento" maxlength="75" [(ngModel)]="CurrentClient.address.info"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->