<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="float-left card-title">Produtos</div>
            <div class="float-right">   
                <button type="button" class="btn btn-success float-left" data-toggle="modal" (click)="largeModal.show()"><span class="fa fa-plus"></span> Novo</button>
            </div>
        </div>
        <div class="card-block">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" >
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Pizza</td>
                        <td>R$50.00</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Refrigerante</td>
                        <td>R$8.00</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Maionese</td>
                        <td>R$2.00</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <form #productForm="ngForm">
            <div class="card no-margin">
                <div class="card-header">
                    <div class="float-left card-title">Produto</div>
                    <div class="float-right">
                        <button (click)="largeModal.hide()" class="btn btn-secondary float-left" id="close" type="button"><span class="fa fa-reply"></span> Voltar</button>
                        <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid"><span class="fa fa-check"></span> Salvar</button>
                    </div>
                </div>
                <div class="card-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                <span class="bold">Nome</span>
                            </div>
                            <div class="col-11">
                                <input class="inputs" type="text" name="name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <span class="bold">Preço</span>
                            </div>
                            <div class="col-11">
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input class="form-control currency inputs" type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" placeholder="10,00" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
