<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="float-left card-title">Produtos</div>
            <div class="float-right">   
                <button (click)="novo()" type="button" class="btn btn-success float-left" data-toggle="modal"><span class="fa fa-plus"></span> Novo</button>
            </div>
        </div>
        <div class="card-block">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="textSearch" placeholder="Pesquisar...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" >
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th (click)="setOrdination('id')" width="10%">ID<div class="fa fa-fw fa-sort"></div></th>
                        <th (click)="setOrdination('name')" width="70%">Nome<div class="fa fa-fw fa-sort"></div></th>
                        <th (click)="setOrdination('price')" width="10%">Preço<div class="fa fa-fw fa-sort"></div></th>
                        <th width="10%">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of (AllProducts | productFilter:textSearch) | sortBy:ordination">
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.name}}</td>
                        <td>{{product.price |  currency : 'BRL' : true}}</td>
                        <td>
                            <button title="Visualizar" (click)="visualizar(product)" type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" ><span class="fa fa-info"></span></button>
                            <button title="Excluir" (click)="excluir(product)" type="button" class="btn btn-danger  btn-sm"data-toggle="tooltip" data-placement="top"><span class="fa fa-minus"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button id="show" style="display: none" type="button" data-toggle="modal" (click)="largeModal.show()"> </button>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <form #productForm="ngForm" (submit)="salvar(currentProduct)">
            <div class="card no-margin">
                <div class="card-header">
                    <div class="float-left card-title">Produto</div>
                    <div class="float-right">
                        <button (click)="largeModal.hide()" class="btn btn-secondary float-left" id="close" type="button"><span class="fa fa-reply"></span> Voltar</button>
                        <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid"><span class="fa fa-check"></span> Salvar</button>
                    </div>
                </div>
                <div class="card-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                <span class="bold">Nome</span>
                            </div>
                            <div class="col-11">
                                <input class="inputs" type="text" name="name" [(ngModel)]="currentProduct.name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <span class="bold">Preço</span>
                            </div>
                            <div class="col-11">
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input class="form-control currency inputs" type="number"  name="price" [(ngModel)]="currentProduct.price" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" id="c2" placeholder="10,00" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
