<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="float-left card-title">Pedidos</div>
            <div class="float-right">   
                <button type="button" class="btn btn-success float-left"><span class="fa fa-plus"></span> Novo</button>
            </div>
        </div>
        <div class="card-block">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" >
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Andamento</th>
                        <th>Cliente</th>
                        <th>Valor</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
