<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="float-left card-title">Clientes</div>
            <div class="float-right">   
                <button type="button" class="btn btn-success float-left" data-toggle="modal" (click)="largeModal.show()"><span class="fa fa-plus"></span> Novo</button>
            </div>
        </div>
        <div class="card-block">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" >
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone residencial</th>
                        <th>Telefone celular</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Otto</th>
                        <td>054.384.692-30</td>
                        <td>(47) 3337-1155</td>
                        <td>(47) 99154-5567</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">Larry</th>
                        <td>054.384.600-44</td>
                        <td>(47) 3035-2525</td>
                        <td>(47) 99995-5487</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">Thornton</th>
                        <td>052.394.792-31</td>
                        <td>(47) 3229-2549</td>
                        <td>(47) 99814-9814</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form #clientForm="ngForm">
                <div class="card no-margin">
                    <div class="card-header">
                        <div class="float-left card-title">Cliente</div>
                        <div class="float-right">
                            <button (click)="largeModal.hide()" class="btn btn-secondary float-left" id="close" type="button"><span class="fa fa-reply"></span> Voltar</button>
                            <button type="submit" class="btn btn-success" [disabled]="!clientForm.form.valid"><span class="fa fa-check"></span> Salvar</button>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    <span class="bold align-right">Nome</span>
                                </div>
                                <div class="col-11">
                                    <input class="inputs" type="text" name="name" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <span class="bold align-right">CPF</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" placeholder="000.000.000-00" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <span class="bold align-right">Telefone</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="tel" placeholder="(47) 3333-3333" required/>
                                </div>
                                <div class="col-1">
                                    <span class="bold align-right">Celular</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="tel" placeholder="(47) 99999-9999" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <span class="bold align-right">Rua</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" required/>
                                </div>
                                <div class="col-1">
                                    <span class="bold align-right">Número</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="number" min="0" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <span class="bold align-right">Bairro</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" required/>
                                </div>
                                <div class="col-1">
                                    <span class="bold align-right">Cidade</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" type="text" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <span class="bold align-right">CEP</span>
                                </div>
                                <div class="col-5">
                                    <input class="inputs" placeholder="00000-000" required/>
                                </div>
                                <div class="col-2">
                                    <span class="bold align-right">Complemento</span>
                                </div>
                                <div class="col-4">
                                    <input class="inputs" type="text" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->