// Here you can add other styles
.card-header{
    padding: 0.75rem 0;
    margin: 0 1.25rem;
    background-color: white;
}
.main .container-fluid {
    padding: 15px;
}
.card-title{
    font-size: x-large;
    margin: 0;
}
.card-header .btn {
    margin-top: 0;
}
.card-header .btn+.btn {
    margin-left: 5px;
}

.no-margin{
    margin: 0;
}

.espacamento-padrao{
    margin-top: 30px;
}
.Status-Order span{
    font-size: 14px;
}

.inputs{
    width: 100%;
    margin-bottom: 5px;
}

.bold{
    font-weight: bold;
}

.align-right{
    text-align: right;
}

.red{
  color: red;
}

.product-input {
    height: 27px;
}
.align-right{
    text-align: right;
    padding: 0;
}

.login-div{
    width: 35%;
}

.login-logo {
    text-align: center;
    width: 100%;
    padding-top: 50px;

    div {
        height: 70px;
        width: auto;
        background: url("../img/logo.png") no-repeat center;
        background-size: 200px auto;
    }
}