<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="float-left card-title">Pedidos</div>
            <div class="float-right">   
                <button (click)="newOrder()" type="button" class="btn btn-success float-left"><span class="fa fa-plus"></span> Novo</button>
            </div>
        </div>
        <div class="card-block">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="textSearch" placeholder="Pesquisar...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" >
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th width="10%">Data</th>
                        <th width="10%">Andamento</th>
                        <th width="40%">Cliente</th>
                        <th width="20%">Valor</th>
                        <th width="20%">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders | orderFilter:textSearch">
                        <td>{{order.date | date: 'dd/MM/yyyy'}}</td>
                        <td class="Status-Order">
                            <span class="badge badge-success" *ngIf="order.status == 'DONE'">COMPLETO</span>
                            <span class="badge badge-warning" *ngIf="order.status == 'PENDING'">PENDENTE</span>
                            <span class="badge badge-danger" *ngIf="order.status == 'CANCELED'">CANCELADO</span>
                        </td>
                        <td>{{order.client.name}}</td>
                        <td>{{order.totalPrice |  currency : 'BRL' : true }}</td>
                        <td>
                            <button title="Visualizar" (click)="visualizar(order)" type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" ><span class="fa fa-info"></span></button>
                            <button title="Cancelar pedido" (click)="cancelar(order)" *ngIf="order.id > 0 && order.status == 'PENDING'" type="button" class="btn btn-danger  btn-sm"data-toggle="tooltip" data-placement="top"><span class="fa fa-close"></span></button>
                            <button title="Concluir pedido" (click)="confirmar(order)" *ngIf="order.id > 0 && order.status == 'PENDING'" class="btn btn-success btn-sm"data-toggle="tooltip" data-placement="top" ><span class="fa fa-check"></span></button>
                        </td>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
    <button id="show" style="display: none" type="button" data-toggle="modal" (click)="largeModal.show()"> </button>
</div>

<div bsModal #largeModal="bs-modal" id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="card no-margin">
            <div class="card-header">
                <div class="float-left card-title">Pedido</div>
                <div class="float-right">   
                    <button (click)="largeModal.hide()" class="btn btn-secondary float-left" id="close" type="button"><span class="fa fa-reply"></span> Voltar</button>
                    <button (click)="cancelar(currentOrder)" *ngIf="currentOrder.id > 0 && currentOrder.status == 'PENDING'" type="button" class="btn btn-danger float-left"><span class="fa fa-close"></span> Cancelar pedido</button>
                    <button (click)="confirmar(currentOrder)" *ngIf="currentOrder.id > 0 && currentOrder.status == 'PENDING'" class="btn btn-success float-left"><span class="fa fa-check"></span> Concluir pedido</button>
                    <button (click)="salvar(currentOrder)" *ngIf="currentOrder.id == 0" class="btn btn-success float-left"><span class="fa fa-check"></span> Salvar</button>
                </div>
            </div>
            <div class="card-block">
                <table *ngIf="currentOrder">
                    <tbody>
                        <tr>
                            <th>Data</th>
                            <td>{{currentOrder.date | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <th>Andamento</th>
                            <td>
                                <span class="badge badge-success" *ngIf="currentOrder.status == 'DONE'">COMPLETO</span>
                                <span class="badge badge-warning" *ngIf="currentOrder.status == 'PENDING'">PENDENTE</span>
                                <span class="badge badge-danger" *ngIf="currentOrder.status == 'CANCELED'">CANCELADO</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Cliente</th>
                            <td>
                                <div *ngIf="currentOrder.id > 0" >{{currentOrder.client.name}}</div>
                                <div *ngIf="currentOrder.id == 0" >
                                    <select [(ngModel)]="selectClient" class="custom-select">
                                        <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="animated fadeIn espacamento-padrao">
                    <div class="card no-margin">
                        <div class="card-header">
                            <div class="float-left card-title">Produtos</div>
                        </div>
                        <div class="card-block">
                            <div *ngIf="currentOrder.id == 0" class="input-group">
                                <select [(ngModel)]="selectProduct" class="custom-select">
                                    <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
                                </select>
                                <input type="number" [(ngModel)]="selectQuantidade" class="form-control" placeholder="Quantidade...">
                                <span class="input-group-btn">
                                    <button (click)="adcionaProduct()" class="btn btn-secondary" type="button" >Adicionar</button>
                                </span>
                            </div>
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th width="60%">Nome</th>
                                        <th>Quantidade</th>
                                        <th>Valor</th>
                                        <th *ngIf="currentOrder.id == 0">Ação</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <!--currentOrder-->
                                    <tr *ngFor="let product of currentOrder.products">
                                        <td>{{product.product.name}}</td>
                                        <td>{{product.amount}}</td>
                                        <td>{{product.amount * product.product.price  |  currency : 'BRL' : true }}</td>
                                        <td *ngIf="currentOrder.id == 0">
                                            <button title="Excluir produto" (click)="excluirProduto(product)" type="button" class="btn btn-danger  btn-sm" data-toggle="tooltip" data-placement="top"><span class="fa fa-minus"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->